body {
  height: 100vh;
  width: 100%;
}

.background-image {
  background-image: url(https://i.pinimg.com/originals/2b/0a/7a/2b0a7a08d1d9eff6d4b1ba7ba56b0e25.jpg);
  height: 100%;
  width: 100%;
}

.new-background-image {
  background-image: url(https://www.ecopetit.cat/wpic/mpic/35-356062_preview-wallpaper-calm-sea-houses-beach-malaysia-1080p.jpg);
  height: 100%;
  width: 100%;
}

.header-title {
  position: relative;
  top: 8rem;
  font-family: 'Satisfy', cursive;
  font-size: 5rem;
  color: snow;
}

.new-header-title {
  position: relative;
  top: 3rem;
  font-size: 3rem;
}

.form-layout {
  position: relative;
  top: 13rem;
  color: snow;
}

.button-container {
  position: relative;
  top: 2rem;
}

#resultTable {
  position: absolute;
  top: 10rem;
  width: 100%;
  height: 97vh;
}

.column-1 {
  width: 35%
}

.column-2 {
  width: 20%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-size: 500px auto;
  background: white
                50% 50%
                no-repeat
}

.loading .modal {
    overflow: hidden;
}

.loading .modal {
    display: block;
}

.error-text {
  font-family: 'Anton', sans-serif;
  position: absolute;
  bottom: 35rem;
  left: 18rem;
  font-size: 5rem;
  text-align: center;
  color: red;
}

.hide {
  display: none;
}

.hidden {
  display: none;
}
